In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.6.0.20230303-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 KB 4.6 MB/s eta 0:00:00
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.26.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.6.0.20230303

In [68]:
import pandas as pd
from datetime import datetime, timedelta
from snscrape.modules import twitter

# Define the date range for the tweets
start_date = datetime(2019, 7, 1).date()
end_date = datetime(2019, 8, 30).date()

# Define your query keywords
query_list = ['#ChatGPT', '#BardAI','#Artificial Intelligence','#AI','#BigData','#MachineLearning','#Robotics']

# Define a function to get tweets for a specific date range
def get_tweets_by_date_range(query, start_date, end_date, limit):
    tweets = []
    for tweet in twitter.TwitterSearchScraper(f"{query} since:{start_date} until:{end_date} lang:en").get_items():
        if len(tweets) >= limit:
            break
        tweets.append(tweet)
    return tweets

# Get the tweets and create a dataframe
tweets_list = []
for query in query_list:
    tweets = get_tweets_by_date_range(query, start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'), 3000)
    for tweet in tweets:
        tweet_dict = {}
        tweet_dict["ID"] = tweet.user.id
        tweet_dict["UserName"] = tweet.user.username
        tweet_dict["Tweets"] = tweet.rawContent
        tweet_dict["Date"] = tweet.date
        tweet_dict["Source"] = tweet.sourceLabel
            
        tweets_list.append(tweet_dict)

df = pd.DataFrame(tweets_list, columns=["ID", "UserName", "Tweets", "Date", "Source"])
df

,ID,UserName,Tweets,Date,Source
0,522175551,EsiscTeam,Chad: 3 assailants killed in an #attack on a g...,2019-08-22 07:57:51+00:00,Hootsuite Inc.
1,3123344741,Gabisymen,#Chad: A policeman murdered a businessman yest...,2019-08-21 07:55:18+00:00,Twitter Web App
2,388452313,kavitathanky,Humbled by the felicitation.\nThank you for th...,2019-08-19 09:26:22+00:00,Instagram
3,39975891,SaeedBaygi,Companies are creating 'limited immortality' w...,2019-08-29 23:54:47+00:00,Twibble.io
4,39975891,SaeedBaygi,How banking is using #artificial #intelligence...,2019-08-29 22:26:05+00:00,Twibble.io
...,...,...,...,...,...
14998,961125341963137024,themachinemaker,B&amp;R to showcase advanced automation techno...,2019-08-26 13:14:16+00:00,Twitter Web App
14999,3430964518,psychotrip2,This is absolutely incredible. Whenever you do...,2019-08-26 13:14:13+00:00,Twitter for Android
15000,39762255,ARTBA,ARTBA National Convention Speaker @ambermac Of...,2019-08-26 13:12:01+00:00,Buffer
15001,2243749190,REPL_Group,"""By 2025, 40% of large enterprises with hourly...",2019-08-26 13:08:10+00:00,HubSpot
15002,26359559,Cicoil,The future of rescue #robotics - https://t.co/...,2019-08-26 13:08:01+00:00,Sprout Social

In [69]:
df.to_csv('/content/drive/MyDrive/66.csv',index=False)

In [72]:
import pandas as pd

# List the names of all 50 CSV files

# Define the file names and the path where the files are located
file_names = ["/content/drive/MyDrive/Tweets_Dataset.csv","/content/drive/MyDrive/dataset/60.csv","/content/drive/MyDrive/dataset/61.csv","/content/drive/MyDrive/dataset/62.csv","/content/drive/MyDrive/dataset/63.csv",
              "/content/drive/MyDrive/dataset/64.csv","/content/drive/MyDrive/dataset/65.csv","/content/drive/MyDrive/dataset/66.csv","/content/drive/MyDrive/dataset/67.csv","/content/drive/MyDrive/dataset/10.csv",
              "/content/drive/MyDrive/dataset/68.csv"]

# Define the chunk size for each file
chunk_size = 1000

# Create an empty DataFrame to store the merged data
merged_file = pd.DataFrame()

# Loop through each CSV file
for file in file_names:
    # Create an empty DataFrame to store the chunk data
    chunk_data = pd.DataFrame()
    
    # Read the CSV file in chunks and append each chunk to the chunk_data DataFrame
    for chunk in pd.read_csv(file, chunksize=chunk_size):
        chunk_data = chunk_data.append(chunk)
    
    # Append the chunk data to the merged_file DataFrame
    merged_file = merged_file.append(chunk_data)

In [73]:
# Write the merged data to a new CSV file
merged_file.to_csv("/content/drive/MyDrive/tweets_Dataset.csv", index=False)

In [81]:
import pandas as pd

# Read the CSV file into a DataFrame
data = pd.read_csv("/content/drive/MyDrive/dataset/tweets_Dataset.csv")

# Display the DataFrame
data

,ID,UserName,Tweets,Date,Source
0,2549585622,Enhancv,ChatGPT has done it again! Check out the amazi...,2023-02-28 23:59:44,Zapier.com
1,1605221195258937347,AI_Dev_News,explores how Facebook and Snap are leveraging ...,2023-02-28 23:59:38,AI Dev News
2,1515792169050963968,Mazidul85504766,RT @gomezidao: Gomezi Network:\n- large open s...,2023-02-28 23:59:21,Twitter for Android
3,1236038375175569408,MurphysPodcast,RT @CultCouncilPod: Culture Council Podcast - ...,2023-02-28 23:59:15,Twitter for iPhone
4,1259884055635431424,conanyb6,RT @gomezidao: Gomezi Network:\n- large open s...,2023-02-28 23:59:12,Twitter Web App
...,...,...,...,...,...
416536,1002656214474342400,itsgreenbox,Love this set up 👌🏼 The Alien by @cloudvapes i...,2018-08-26 18:29:01+00:00,Sprout Social
416537,45585604,DKCanada,Only four sleeps until #FanExpo in #Toronto! T...,2018-08-26 18:27:00+00:00,TweetDeck
416538,931959997784903681,Adriancryp,25 Machine Learning Startups To Watch in 2018\...,2018-08-26 18:26:37+00:00,Twitter for Android
416539,35411199,stockerblog,Here Come the #Humanoids \nhttps://t.co/vEj3Z0...,2018-08-26 18:26:18+00:00,Twitter Web Client
416540,1594685066,as_algogandi,What could #AI do in the #future... Would we b...,2018-08-26 18:19:54+00:00,Twitter for iPhone